* {
  padding: 0;
  margin: 0;
  color: var(--color-text);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-scrollbar {
  background: transparent;
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:root {
  --color-a: #41644A;
  --color-b: #263A29;
  --color-b-80: #263A29CC;
  --color-highlight: #E86A33;
  --color-text: #F2E3DB;
  --trasition-all-time: 300ms;
  --row-height: 30px;
}

body {
  background-color: var(--color-b);
  overflow: overlay;
}

.selected {
  border-radius: 5px;
  background-color: var(--color-a) !important;
  transition: all var(--trasition-all-time);
}

.clickable-button {
  border-radius: 5px;
  border: 1px solid var(--color-text) !important;
}

button {
  text-decoration: underline 0.1em rgba(255, 255, 255, 0);
  transition: all var(--trasition-all-time);
  background-color: var(--color-b);
  margin: 4px 2px;
  height: 80%;
}

button:hover {
  cursor: pointer;
  text-decoration-color: var(--color-text);
}

.clickable-button:active {
  opacity: 70%;
}

input {
  background-color: var(--color-b);
  border-radius: 5px;
  border: 1px solid var(--color-text) !important;
  scrollbar-width: none;
}

// LAYOUT //

.layout-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--row-height);
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--color-b);
  padding-left: 3px;
} 

.layout-nav button {
  border-style: none;
  padding: 5px 10px;
  transition: all var(--trasition-all-time);
}

// LAYOUT END //

// DATA TABLE //

.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.field-toggle-buttons {
  height: var(--row-height);
  width: calc(100% - 10px);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  top: var(--row-height);
  background-color: var(--color-b);
  padding: 0 3px;
}

.field-toggle-buttons > * {
  display: flex;
  flex-wrap: nowrap;
  transition: all var(--trasition-all-time);
}

.field-toggle-buttons p {
  padding: 0 2px;
  font-size: 0.8rem;
  white-space: nowrap;
  align-self: center;
}

.field-toggle-buttons button, .edit-button , .delete-button {
  text-transform: capitalize;
  cursor: pointer;
  border-style: none;
  white-space: nowrap;
  padding: 2px 5px;
  background-color: var(--color-b);
  transition: all var(--trasition-all-time);
}

.edit-button , .delete-button {
  height: 16px;
  font-size: 0.7rem;
}

.table {
  margin: auto;
  display: flex;
  margin-top: calc(var(--row-height) * 2);
}

.cell, .column-header {
  padding: 2px;
  height: 20px;
  white-space: nowrap;
}

.column-header {
  text-transform: capitalize;
  background-color: var(--color-b);
  cursor: pointer;
  position: sticky;
  top: calc(var(--row-height) * 2);
  border-bottom: var(--color-text) 2px solid;
}

.edit-button-column, .delete-button-column {
  display: flex;
  flex-direction: column;
}

.notes {
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown {
  background-color: var(--color-b);
  border: 1px solid var(--color-text);
  border-radius: 5px;
  display: grid;
  height: 50vh;
  overflow: auto;
}

.dropdown > button {
  border-style: none;
  padding: 0 2px;
  cursor: pointer;
}

.dropdown > input[type=number] {
  margin: 2px;
  padding: 0 2px;
}

.grid-col-3 {
  grid-template-columns: max-content max-content max-content;
}

.grid-col-5 {
  grid-template-columns: max-content max-content max-content max-content 50px;
}

// DATA TABLE END //

// POPUPCOMP //

.popup-overlay {
  background-color: var(--color-b-80);
}

.popup-comp {
  border: 1px solid var(--color-text);
  border-radius: 5px;
  width: 100%;
  padding: 2px;
  background-color: var(--color-b);
}

.popup-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.popup-grid-cell {
  padding: 2px;
  margin: 2px;
}

.popup-comp textArea {
  height: 8rem;
  background-color: var(--color-b);
  border-radius: 5px;
}

.popup-grid * {
  outline: none;
}

// POPUPCOMP END //

// CHARTS //

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chart-selection, .chart-parameters  {
  height: var(--row-height);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--color-b);
  position: fixed;
  top: var(--row-height);
}

.chart-selection  {
  top: var(--row-height);
  padding-left: 5px;
}

.chart-parameters {
  top: calc(var(--row-height) * 2);
  padding-left: 5px;
}

.chart-label {
  padding: 0px 10px;
}

.chart-selection button, .chart-parameters button {
  cursor: pointer;
  border-style: none;
  white-space: nowrap;
  padding: 2px 5px;
}

.chart {
  margin: auto;
  display: flex;
  margin-top: calc(var(--row-height) * 3);
  padding: 2px;
}

.chart-group, .chart-bars {
  padding: 2px;
}

.chart-group > div, .chart-bars > div, .chart-parameters > * {
  white-space: nowrap;
}

.chart-label {
  padding: 0 2px;
  font-size: 0.8rem;
  white-space: nowrap;
  align-self: center;
  margin-left: 10px;
}

.chart-date-input-wrapper {
  display: flex;
}

.chart-date-input-wrapper * {
  align-self: center;
}

.chart-group, .chart-bars, .chart-section {
  display: flex;
  flex-direction: column;
}

.chart-group, .chart-bars {
  border-bottom: solid var(--color-text) 1px;
}

.chart-group {
  text-align: right;
}

.chart-bar, .chart-group > div, .chart-group-header {
  padding-left: 3px;
  height: calc(var(--row-height) * 0.5);
  margin: 2px;
  padding-bottom: 2px;
  font-size: 0.8rem;
}

.chart-group-header {
  font-weight: 600;
  text-decoration: underline;
}

.chart-bar {
  border-radius: 3px;
  transition: all 100ms ease-out;
}

.chart-bar-label {
  transition: all 300ms;
}

.chart-section:last-child {
  width: 630px;
}

// CHARTS END //