* {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

#layout-nav {
  border-bottom: 1px solid black;
} 

#layout-nav button {
  border-style: none;
  padding: 5px 10px;
  border-right: 1px solid black;
}

#layout-nav button:active {
  background-color: #565656;
  color: white;
}